body{
font-family: "proxima-nova";
}

.homepage #logo {
  font-family: "aw-conqueror-inline";
  font-size: 225%;
}

h4 {
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: uppercase;
}

#topban h2 {
  font-family: "azo-sans-web";
  font-weight: bold;
  text-transform: capitalize;
}

body {
  background-image: url("https://images.unsplash.com/photo-1429667947446-3c93a979b7e0?crop=entropy&dpr=2.5&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=40&w=1550");
  background-size: cover;
  color: white;
  }
 
  .w1024.homepage #pagecontainer {
    background:rgba(0,0,0,0.5);
  }
  
  #leftbar, 
  w1024.homepage #pagecontainer #topban, 
  w1024.homepage #pagecontainer #center, 
  w1024.homepage #pagecontainer #rightbar  {
  background-color: transparent;}

