body{
font-family: "proxima-nova";
}

#pagecontainer .bglogo {
  font-family: "blenny";
}

h4 {
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: uppercase;
}

#topban h2 {
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: capitalize;
}
