body{
font-family: "proxima-nova";
}

.homepage #logo {
  font-family: "aw-conqueror-inline";
  font-size: 250%;
}

h4 {
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: uppercase;
}

#topban h2 {
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: capitalize;
}
