html {
	background-image: url("https://static.pexels.com/photos/70737/pexels-photo-70737.jpeg");
	 background-size: cover;
      background-attachment: fixed;
    background-repeat: no-repeat;

}

body{
	      font-family: "rooney-sans";
	      color: white;

}

nav {
padding-top: 30px;
text-decoration: none;
float: right;
padding-right: 40px;}

a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
	padding-right: 5px;
	padding-left: 5px;

}

a:hover{
color: pink;
}

h1 {
	float: left;
	padding-left: 40px;
	  font-family: "pauline";
	font-weight: bold oblique;
	padding-top:30px;
	font-size: 900%;
    color: rgba(255, 255, 255, 0.93);
}

h2 {
	float: left;
	padding-left: 45px;
	  font-family: "pauline";
	font-weight: bold oblique;
	padding-top:35px;
	font-size: 900%;
	color: rgba(255, 255, 255, 0.42);
    position: absolute;
    z-index:100;
}
